*{
    margin: 0%;
    padding: 0%;
    margin-top: 10%;
    background-color: rgb(119, 119, 158);
    
}

//1- operator is used
//2- mixin in used
//3- nesting is used
//4- variables and parameters aren't used

.html{
    font-size: 62.5%;
}

@mixin commoncode(){
    text-align: center;
    font-style: italic;

}

.main_header{
    

    h1{
        @include commoncode;
        font-size: 10rem - 5rem;
        &:hover{
            background-color: black;
        }
    }
    
    p{
        @include commoncode;
        font-size: 3rem;
        &:hover{
            background-color: black;
        }
    }

}




   





